.nav {
    background-color: #273173;
    text-align: center;
    padding-top: 3.5vh;
    padding-bottom: 3.5vh;
    margin: 4vh;
    box-shadow: 4px 3px 8px 1px #000000;



}
.Posts{
    background-color: #273173;
    padding: 5vh

}
.welcome{
    background-color: #273173;
    text-align: center;
    padding: 5vh;


}
#title{
    font-size: 5vh;
    color: white;
}
#text{
    font-size: smaller;
    color: white;
}

#grad {
    background-image: linear-gradient(#1d2254, #000000);
}

body{
    background-color: #273173;

}
.content{
    padding-top: 3.5vh;
    padding-bottom: 3.5vh;
    margin: 4vh;
    color: white;


}
.form{
    background-color: #273173;
    padding: 5vh;
    color: white;




}

.inautor,.intitel{
    border-style:none;
    border-bottom-style: solid;
    border-width: 0.1vh;
    border-color: #0b0c18;
    width: 30vw;
    height: 3vh;
    background: transparent;
    color: white;
    margin-bottom: 2vh;
}
.intitel{
    font-weight: bold;
}

.incontent{
    width: 80vw;
    height: 20vh;
    resize: none;
    border-style: solid;
    border-width: 0.1vh;
    border-color: #0b0c18;
    border-radius: 15px;
    margin-bottom: 2vh;
}
.infile{
    border-style: solid;
    border-width: 0.1vh;
    border-color: #0b0c18;
    border-radius: 15px;
    margin-bottom: 2vh;
}


.insubmit{
    border-style: solid;
    border-width: 0.1vh;
    border-color: #0b0c18;
    border-radius: 15px;
}







.post{
    padding: 1vh;
    background-color: #4d56a4;
    display: grid;
    border-color: white;
    border-width: 0.2vh;
    border-style: solid;
    grid-template-columns: 20% 50% 30%;
    box-shadow: 4px 3px 8px 1px #000000;

}
.titel{
    border-style: none;
    border-bottom-style: solid;
    border-color: white;
    border-width: 0.2vh;
    font-size: 3vh;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    font-weight: bold;


}
.date{
    text-align: right;
    grid-row: 1;
    grid-column: 3;
}
.autor{
    font-size: smaller;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row:4;

}
.text{
    margin-top: 2vh;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;

}
.img{
    margin: 3vh;
    max-height: 40vh;
    width: 90%;
    height: 90%;
    grid-column: 3;
    grid-row: 3;

}


a:link {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
}